footer{
    position: relative;
    display: block;
    z-index: 100;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: #212121;
    transform: translateZ(0px) scale(1);
}

#left_foot{
    position: relative;
    float: left;
    left: 15px;
    height: 75px;
}

#right_foot{
    position: relative;
    float: right;
    right: 40px;
    height: 75px;
}

#logos{
    height: 28px;
    margin-top: calc(37px - 14px);
    margin-bottom: auto;
}

.logo_holder{
    height: 28px;
    width: 28px;
}

.logo{
    height: 26px;
    width: 26px;
    margin-top: auto;
    margin-bottom: auto;
    background-size: 26px 26px;
    background-repeat: no-repeat;
}

.logo:hover{
    height: 28px;
    width: 28px;
    background-size: 28px 28px;
}

#logo_facebook{
    background-image: url("../img/footer/facebook.png");
    padding-left: 2vh;
}

#logo_linkedin{
    background-image: url("../img/footer/linkedin.png");
}

#business{
    height: 52px;
    margin-top: 7px;
}

#logo_footer{
    height: 52px;
    width: 165px;
    background-image: url("../img/footer/logo.png");
    background-size: 165px 52px;
    background-repeat: no-repeat;
}
