#bg{
    position: relative;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/home/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#cubes{
    position: relative;
    z-index: 2;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: url("../img/cubes.png");
    background-size: 67px 100px;
    background-repeat: repeat;
    opacity: 0.75;
}

#logo{
    position: relative;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80vh;
    height: 50vh;
    width: 75vh;
    background: url("../img/home/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#button{
    position: relative;
    z-index: 3;
    margin-left: 43.5%;
    font-family: HK Grotesk;
    font-weight: bold;
    font-style: normal;
    font-size: 4vh;
    margin-top: 15vh;
    padding: 2px 6px 2px 6px;
    border-style: solid;
    border-color: #000000;
}
