#maps_embedded{
    position: absolute;
    z-index: 3;
    width: 600px;
    height: 450px;
    top: 0;
    left: calc(50% - 300px);
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    transform: translateZ(0px) scale(1);
    background-image: url("../img/cubes.png");
}
