.page{
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#bg{
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: -50%;
    height: 100vh;
    width: 60vw;
    background-image: url("../img/services/bg.jpg");
    background-size: 60vw 100vh;
    background-repeat: no-repeat;
    transform: translateZ(-1px) scale(2);
}

#cubes{
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-top: -100vh;
    background: url("../img/cubes_dark.png");
    background-size: 67px 100px;
    background-repeat: repeat;
    opacity: 0.3;
    transform: translateZ(-0.6px) scale(1.6);
}

.overlay_shape, .overlay_text{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    transform: translateZ(-0px) scale(1);
}

#top{
    height: 32vh;
    background: url("../img/services/overlay_top.png");
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#mid{
    height: 15vh;
    margin-top: calc(32vh - 0.1%);
    background: url("../img/services/overlay_mid.png");
    background-position: left;
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

#bottom{
    height: 50vh;
    width: 60.8%;
    margin-left: 0;
    margin-right: auto;
    margin-top: calc(32vh + 15vh - 0.1%);
    background-color: #fafafa;
}

#title{
    margin-top: 16vh;
    font-size: 9vh;
    text-align: center;
}

#subtitle{
    z-index: 3;
    margin-top: 6vh;
    margin-left: 1.5%;
    font-size: 5vh;
    text-align: left;
}

#services_table{
    width: 58%;
}

.services_button{
    transition: background-color 0.5s;
}

.services_button:hover{
    background-color: #d9d9d9;
}

#underscore{
    height: 1vh;
    width: 58%;
    margin-top: 2vh;
    background-color: #1976d2;
}

#bracket{
    margin-top: -3vh;
    margin-left: 4%;
    height: 3vh;
    width: 4vh;
    background: url("../img/services/bracket.jpg");
    background-size: 4vh 3vh;
    background-repeat: no-repeat;
    transition: margin-left 0.5s;
}

#content_table{
    z-index: 3;
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    width: 90vw;
}

.content_icon{
    height: 11vh;
    width: 11vh;
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#icon_1{
    background-image: url("../img/about/icon_1.png");
}

#icon_2{
    background-image: url("../img/about/icon_2.png");
}

#icon_3{
    background-image: url("../img/about/icon_3.png");
}

.content_text{
    font-size: 3.5vh;
    padding-top: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

#footer{
    margin-top: 35vh;
}
